<!-- <!DOCTYPE html>
<html>
<head>
	<title>practice</title>
	<link rel="stylesheet" type="text/css" href="practice.css">
</head>
<body>
	<div class="container">
		<div class="box-1">
		<h1>Hello World</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		<a class="button" href="#"> Read more</a>
		</div>

		<div class="box-2">
		<h1>Goodbye world</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		<a class="button" href="#">Read more</a>
		</div>

		<div class="categories">
			<h2>categories</h2>
			<ul>
				<li><a href="#"> category 1</a></li>
				<li><a href="#"> category 2</a></li>
				<li><a href="#"> category 3</a></li>
				<li><a href="#"> category 4</a></li>
				<li><a href="#"> category 5</a></li>
			</ul>
		</div>

		<form class="my-form">
			<div class="form-group">
				<label>Name:</label>
				<input type="text" name="name">
				
			</div>
			<div class="form-group">
				<label>Email:</label>
				<input type="text" name="email">
				
			</div>
			<div class="form-group">
				<label>Message:</label>
				<textarea name="message"></textarea>
				
			</div>
			<input class="button" type="submit" value="submit" name="">
		</form>

		<div class="block">
			<h3> Heading</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			</p>
			
		</div>

		<div class="block">
			<h3> Heading</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			</p>
			
		</div>

		<div class="block">
			<h3> Heading</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			</p>
			
		</div>

		<div class="clr"></div>

		<div id="main-block">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			</p>
			
		</div>

		<div id="sidebar">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			</p>
			
		</div>

		<div class="clr"></div>


		<div class="p-box">
			<h1>Hello</h1>
			<h2>Goodbye</h2>
			
		</div>

		<ul class="my-list">
			<li>list Item</li>
			<li>list Item</li>
			<li>list Item</li>
			<li>list Item</li>
			<li>list Item</li>
			<li>list Item</li>
			<li>list Item</li>
			<li>list Item</li>
			<li>list Item</li>
			<li>list Item</li>
			<li>list Item</li>
		</ul>






	</div> container closing div
 -->

 	<!-- <a class="fix-me button" href=""> hello</a>

	 <div style="margin-top: 500px;"></div>
</body>
</html> --> 


<!-- 
<!DOCTYPE html>
<html>
<head>
	<title>my website</title>
	<link rel="stylesheet" type="text/css" href="practice.css">
</head>
<body>
	<header id="main-header">
		<div class="container">
			<h1>My Website</h1>
		</div>
	</header>

	<nav id="navbar">
		<div class="container">
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">About</a></li>
				<li><a href="#">Services</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
			
		</div>
	</nav>

	<section id="showcase">
		<div class="container">
			<h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt.
		</h1>
			
		</div>
	</section>

	<div class="container">
		<section id="main">
			<h1>Welcome</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</section>

		<aside id="sidebar">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat.</p> 
		</aside>
	</div>

	<footer id="main-footer">
		<p>copyright &copy; 2019 My Website</p>
		
	</footer>

</body>
</html> -->
<!-- 
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device=width initial=scale=1.0">
	<title>my vue practice</title>
</head>
<body>
	<div id="app">
		<div class="product">
			<div class="product-image">
				<img v-bind:src="image">
				<br><br>
				<a v-bind:href="link">Google </a>
				
			</div>
			<div class="product-info"> -->
		<!-- <h2>it's a beautiful day, isn't it?</h2> -->
<!-- 		<h1>{{ title }} </h1>
			<p v-show = "instock">In stock</p> -->
<!-- 			<span v-if>on sale</span>
			<ul>
				<li v-for="detail in details">{{ detail }}</li>
			</ul>
			<ul>
				<li v-for="size in sizes">{{ size }}</li>
			</ul>

			<div v-for="variant in variants":key="variant.variantId">
				<p>{{ variant.variantColor }}</p>
				
			</div>
			<button v-on:click="addToCart"style="background-color: blue;  color:#ffff;"> Add to Cart </button>

			<div class="cart">
				<p>Cart({{cart}})</p>
				
			</div>
			<button v-on:click="removeCart"style="background-color: red;  color:#ffff;"> remove from the Cart </button>

			<product-review></product-review>
 -->

 


		<!-- <p v-if = "inventory > 10">In stock</p>
		<p v-else-if= "inventory<=10 && inventory > 0">Almost sold out</p>
		<p v-else> Out of stock</p>
 -->
<!-- 			</div>
			
		</div>

		
	</div>


	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="main.js"></script>
</body>
</html> -->

<!-- <!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device=width initial=scale=1.0">	
	<title>my vue practice</title>
	<style>
		.red {
			border: 2px solid red;
		}

		.green{
			border: 2px solid green;
		}
		.purple{
			background-color: purple;
		}
	</style>
</head>
<body>




	<div id="app">
		<h1>{{ greeting }}</h1>
		<!-- <input v-model="greeting"> -->
		<div v-text='greeting'>
			
		</div>

		<div v-if = "count==1">
			<h1 style="color: red;">Red"</h1>
			
		</div>
		<div v-else-if ="count==2">
			<h1 style="color: green;">Green</h1>
			
		</div>
		<div v-else>
			<h1 style="color: purple;">I don't know</h1>
			
		</div>

		<div v-show ="water==6">
			<h1 style="color: coral;">blue</h1>
			
		</div>
		
		<p v-once>
			{{ email }}
		</p>
		{{ email }}
		<br>
		<input v-model="email" :class= "[ email.length < 3 ? 'red':'green']">
		<button onclick="alert('successful')" :disabled="email.length < 3">
			submit here
		</button>
		<br><br>
		
			<br> 
			<input v-model="addFruit" v-on:keyup.enter="newFruit">
			<button class="purple" v-on:click ="newFruit">
				add new fruit
			</button>
		<ul>
			<li v-for ="fruit in fruits">{{ fruit | capitalize }}</li>
		</ul>
		<ul>
			<li v-for ="car in cars">{{ car.year }}</li>
		</ul>
		

	
		
	</div>id-app closing tag





<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="main.js" type="text/javascript" ></script>
</body>
</html> 
<!--  -->
